* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html body {
  height: 100%;
  font-family: "Poppins", sans-serif;
}

section {
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section .input-wrapper {
  width: auto;
  padding: 50px;
  margin: 50px;
  box-shadow: 0 4px 8px #ababab;
}

section .input-wrapper .tiles {
  margin-bottom: 20px;
}
section .input-wrapper h1 {
  font-size: 40px;
}

section .input-wrapper h3 {
  font-size: 16px;
  font-weight: 400;
}

section .input-wrapper input {
  width: 300px;
  height: 30px;
  border: 1px solid #ababab;
  border-radius: 4px;
}

section .input-wrapper button {
  width: auto;
  height: 30px;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  background: #0025ff;
  color: white;
  border: none;
  border-radius: 4px;
}

section .input-wrapper button:hover {
  background: #ff6600;
  transition: all 0.75s ease-in-out;
}

section .task-list {
  width: auto;
  padding: 50px;
  margin: 50px;
  box-shadow: 0 4px 8px #ababab;
}
section .task-list h3 {
  padding-bottom: 20px;
  text-align: center;
  color: #0025ff;
}

section .task-list .toDo-list {
  width: 300px;
  padding: 10px;
}

section .task-list .toDo {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(238, 238, 238);
}

section .task-list .toDo li {
  flex: 1;
}

.trash-btn {
  background-color: #ff9900;
  border: none;
  padding: 12px;
  cursor: pointer;
}
.completed-btn {
  background-color: greenyellow;
  border: none;
  padding: 12px;
  cursor: pointer;
}

.to-do-item {
  padding: 7px;
}
.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
